.app-layout {
  padding-left: 40%;
  margin-top: 15rem;
}

.text-notification-container {
  width: 299px;
  height: 223px;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000029;
  border-radius: 15px;
}

.text-notification-to-inbox {
  width: 93px;
  height: 201px;
  padding: 0;
  background: transparent linear-gradient(180deg, #1F83B9 0%, #1A4A8D 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 5px #00000029;
  border-radius: 5px;
  margin: 11px 12px 11px 10px;
  border: none;
  cursor: pointer;
}

.text-notification-to-inbox>.circle-image {
  width: 66px;
  height: 66px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5rem;
  box-shadow: inset 0px 0px 10px #00000047;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-notification-message-container {
  margin: 11px 2px 11px 0px;
  width: 177px;
  font-style: normal;
  font-family: Arial;
  text-align: left;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: #B5B5B5;
}

.text-notification-message-container>.message-title {
  font-weight: bold;
}

.text-notification-message-container>.message-from {
  font-weight: normal;
  margin-top: 4px;
}

.text-notification-message-container>.message-text {
  font-weight: normal;
  font-style: italic;
  margin-top: 11px;
}

.text-notification-message-container>.message-input {
  font-family: Arial;
  font-weight: bold;
  height: 72px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 0px 10px #00000029;
  border-radius: 5px;
  margin-top: 12px;
  color: #8E8E8E;
  resize: none;
  border: none;
}

.text-notification-message-container>.message-input:focus-visible {
  border: none;
  outline: 0;
}

.text-notification-message-container>.message-send {
  font-weight: bold;
  height: 33px;
  font-size: 14px;
  text-align: center;
  background: transparent linear-gradient(180deg, #7BCA10 0%, #619D10 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border-radius: 5px;
  margin-top: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.image-icon{
  filter: invert(1);
}

.image-inbox {
  width: 28px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.button-icon{
  width: 16px;
  height: 14px;
  margin-bottom: -2px;
  margin-right: 2px;
}